**/bin/
**/obj/
**/publish/
**/artifacts/
**/out/
**/TestResults/

*.exe
*.pdb
*.nupkg
*.runtimeconfig.json
project.lock.json
project.fragment.lock.json

.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache

*.log
debug_*.txt
perf_*.txt
*.cache
*.tmp
*.temp

node_modules/
dist/
.env

/HeroShift-v*.zip

/base-project
